.cell {
  padding: 0.1em 0.5em;
}

.editButton {
  background-color: transparent;
  border: none;
  margin: 0 0.2em;
  box-sizing: border-box;
}

.editButton img {
  width: 1.5em;
  
}

.buttonBox {
  padding-right: 0.7em;
  vertical-align: middle;
  display: inline-block;
}

.editButton:hover {
  border: lightcoral solid 1px;
}

