:root {
  --collapse-width: 0.3em;
  --collapse-border-size: 0.2em;
}

.inset {
  margin-left: calc(0.5em + var(--collapse-width) * 2);
}

.line {
  display: flex;
  align-items: center;
  margin: 0 var(--collapse-width);
}

.line::after {
  margin: 0 var(--collapse-width);
  content: "";
  flex: 1 1 auto;
  border: var(--collapse-border-size) solid #ffffff;
  border-radius: var(--collapse-border-size);
}
