:root {
  --lowlight-brightness: 45%;
  --lowlight-saturation: 45%;
  --done-colour-h: 123;
  --done-colour-s: 22%;
  --done-colour-l: 33%;
  --done-colour: hsl(var(--done-colour-h), var(--done-colour-s), var(--done-colour-l));
  --done-colour-darker: hsl(var(--done-colour-h), calc(var(--done-colour-s) - 10%), calc(var(--done-colour-l) - 10%));
}

.App {
  color: white;
  padding-top: 1em;
}

input,
button,
.swal-modal {
  font-size: inherit;
}
