.tableHeader {
  text-transform: capitalize;
}

.tableHeader img {
  margin: auto 0.1em auto 0.3em;
  height: 0.9em;
}

.dragHandle img {
  width: 1.3em;
  vertical-align: middle;
}

.toggleCompleted {
  color: inherit;
  margin: 1em;
  background-color: transparent;
  border: solid rgba(255, 255, 255, 0.25);
  box-shadow: 0.1em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
  width: 9em;
}
