:root {
  --highlight-weight: bolder;
  --border-size: 0.08em;
}

.tag {
  border-radius: 0.2em;
  margin: 0 0.1em;
  padding: var(--border-size) 0.5em;
  user-select: none;
  box-sizing: border-box;
  content: "test";
  display: inline-block;
  text-transform: capitalize;
  text-shadow: 1.5px 1.5px 2px black;
  background-color: hsl(var(--tag-color), 50%, 50%);
}

.highlight {
  outline: var(--border-size) solid rgba(0, 0, 0, 0.5);
  outline-offset: calc(var(--border-size) * 2 * -1);
}

.lowlight {
  filter: brightness(var(--lowlight-brightness)) saturate(var(--lowlight-saturation));
}

.tag::before {
  display: block;
  content: attr(title);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.editButton {
  background-color: transparent;
  border: none;
}

.editButton img {
  width: 1em;
}
